<div class="col-sm-8" id="factions">
    <div class="container">
        <h1>{{faction[0].faction}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{faction[0].image}}" alt="Yin Image" width="350" height="400">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{faction[0].government}}</li>
                </ul>
                <h5 class="h5_Header">Technologies</h5>
                <ul>
                    <li><span>Impulse Core: </span>{{faction[0].technologies.ImpulseCore}}</li>
                    <li><span>Yin Spinner: </span>{{faction[0].technologies.YinSpinner}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>Greyfire Mutagen: </span>{{faction[0].promissory_note}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul>
                    <li><span>Indoctrination: </span>{{faction[0].abilities.Indoctrination}}</li>
                    <li><span>Devotion: </span>{{faction[0].abilities.Devotion}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr style="color: white;">
    <div>
        <h5 class="h5_Header">Flagship: {{faction[0].flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].flagship.combat}}</li>
            <li><span>Move:</span> {{faction[0].flagship.move}}</li>
            <li><span>Capacity:</span> {{faction[0].flagship.capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].flagship.abilities}}</li>
            
        </ul>
    </div>

    <h5 class="h5_Header">Lore</h5>
    <p>Lazax law strictly forbade the practice of cloning, the dangerous science that led to the madness, disease and ultimate downfall of the Mahact kings. The emperors severely punished any regime or independent scientist dabbling in this dangerous field.</p>
<br>
        <p>Darien Van Hauge, a prominent Sol scientist, had lost both his children to the terrible wasting disease Greyfire. After their loss, he was intent on finding a cure for this horrible affliction and refused to let any law stay his hand. In silent revenge against the destiny of his children, he left his employment with the prestigious Hospitaler Clinic in New Moscow and traveled to the third moon of Emelpar, where he secretly sought and finally acquired ancient Mehact bio studies.</p>
        <br>
        <p>The brilliant Darien made great advances in the following years. His wife Moyin contributed the embryos he needed for his forbidden experiments. With his successes, however word of his work began to leak and a congregation of the hopeful began to surround him, bringing their sick and dying to his care, clinging to a last hope that his discoveries could cure them.</p>
        <br>
        <p>Darien’s secret ended the day a sick child died in his care. The anguished, remorseful parents blamed Darien for the death and contacted the Sol authorities. That night, Darien fled Jord with his wife and a few of his most devout followers.</p>
        <br>
        <p>Now a known fugitive, Darien narrowly escaped capture again and again. To finally escape the Lazax authorities, his small group joined a religious colonists migrating to a new home on the remote planet of Lael, a place of harsh oceans and stormy climates. Their fugitive years brought healing and perspective on the death of their children and Darien and Moyin found happiness again on the windy plains of Lael.</p>
        <br>

        <p>But a few years later, Moyin developed Greyfire.</p>
        <br>

        <p>Desperate to save his wife, Darien employed all his skills and forbidden knowledge, but still he failed. Before her death, he extracted a single egg from her womb-preserving the genetic blueprint of her unborn children.</p>
        <br>
        <p>He burned her body on the summit of the Hills of Grace, which they had named after their lost daughter. As Moyin’s ashes drifted upwards into the strong winds, Darien dug a stone out of the hillside with his bare hands and placed it near the fire. That stone was to become part of the foundation for the great monastery of Lucas, named after Darien and Moyin’s lost son.</p>
        <br>
        <p>In the following decades, Darien was able to produce a child from a clone of Moyin’s egg and his own seed. It was a boy. Cloning Moyin’s egg by the thousands, producing child after child with increasing success, Darien became a master of the forbidden craft. Yet, inexplicably to him, all the children were boys and he was never able to eradicate the vulnerability to Greyfire from his creations. Though he was able to eliminate the lethal outcome of the disease in his “sons” as he called them, the Greyfire would attack their skins and topical tissues, hideously deforming most of the children.</p>
        <br>
        <p>After Darien’s death, his sons diligently continued his work. They continued cloning Moyin’s egg, which they called the “Yin” and they continued the production of new ”brothers” from their own seed. Over the centuries, the monastery of Lucas became a vast facility, completely covering the Hills of Grace and the surrounding plains.</p>
        <br>
        <p>The Brotherhood, blessed with the brilliant minds of both Darien and Moyin, grew to vast proportions and renamed their planet “Darien”. As the Age of Dusk neared its end, the Brotherhood ventured into space, establishing monasteries on Darien’s moons and its surrounding systems.</p>
        <br>
        <p>The Brotherhood long ago abandoned any hope of a female creation and instead worship the Yin as the mother and the feminine in their lives. Despite the centuries of continued work, they have never been able to completely eradicate the signs of Greyfire. Instead, the brothers that are completely ravaged and deformed by the disease are revered as “The Blessed” and the brothers left untouched by the disease are called “The Untouched”. The Blessed form the inner elders and councillors of the Yin society. The Untouched are trained as ambassadors to the other races and as elite soldiers of The Brotherhood.</p>
        <br>
        <p>In their flesh, the brothers carry the secret inner fire and rebellious ambition of Darien. The oldest of the Blessed, the Elder Brother, intimately understands the emotions and aspirations of all his brothers. Intent and unified, the Brotherhood now builds a vast fleet with which to bring Darien’s legacy and light of Yin to the imperial throne itself.</p>
</div>




