<div class="col-sm-9" id="factions">
    <div class="container">
        <h1>{{faction[0].faction}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{faction[0].image}}" alt="Arborec Image" width="350" height="400">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{faction[0].government}}</li>
                </ul>
                <h5 class="h5_Header">Technologies</h5>
                <ul>
                    <li><span>Bioplasmosis: </span>{{faction[0].technologies}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>Stymie: </span>{{faction[0].promissory_note}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul>
                    <li><span>Mitosis: </span>{{faction[0].abilities}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr style="color: white;">
    <div>
        <h5 class="h5_Header">Flagship: {{faction[0].flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].flagship.combat}}</li>
            <li><span>Move:</span> {{faction[0].flagship.move}}</li>
            <li><span>Capacity:</span> {{faction[0].flagship.capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].flagship.abilities}}</li>
            
        </ul>
    </div>
    <div>
        <h5 class="h5_Header">Special Unit: {{faction[0].unit_upgrades[0].name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].unit_upgrades[0].cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].unit_upgrades[0].combat}}</li>
            <li><span>Abilities:</span> {{faction[0].unit_upgrades[0].abilities}}</li>
            <li><span>Pre-Reqs:</span> {{faction[0].unit_upgrades[0].prerequisites}}</li>
        </ul>
        <h5 class="h5_Header">Special Unit: {{faction[0].unit_upgrades[1].name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].unit_upgrades[1].cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].unit_upgrades[1].combat}}</li>
            <li><span>Abilities:</span> {{faction[0].unit_upgrades[1].abilities}}</li>
            <li><span>Pre-Reqs:</span> {{faction[0].unit_upgrades[1].prerequisites}}</li>
        </ul>
        
    </div>
    <h5 class="h5_Header">Lore</h5>
    <p>On first approach to Nestphar, a first-time visitor may be surprised by the soupy haze that bleeds from the planet’s atmosphere like a dusty cloud. This cloud consists of quadrillions of tiny living spores emitted by Nestphar’s many Flaah, city-sized floating forests in its stratosphere. The short-lived (and therefore continually resupplied) orbital presence of the Flaah spores allows the Arborec denizens in Nestphar’s space-stations and shipyards to remain in continuous symbiotic contact with their planet.</p>

    <br>

    <p>The Arborec term for this vital connection, shared among all living things on Nestphar, is best translated as “the Symphony. When traveling beyond the reach of Nestphar’s Flaah spores, and therefore outside connection to the prime Symphony, the Arborec employ the massive Letani. Physically, the Letani are the largest sentient beings yet discovered in the galaxy (each slightly larger than a Sol Elephantus), their bodies resembling a kraken-shaped mushroom crossed with a monstrous carnivorous flower. The Letani are each uniquely capable of embodying a power in stance of the Symphony (and are therefore closest to an “individual” within Arborec society) which may act as a harmonica nexus for Arborec organisms in near proximity.</p>

        <br>
        
    <p>All ships in the Arborec fleet are based around the presence of at least one (with some ships as many as five) Letani orchestrating the the unity of Arborec lifeforms crewing the vessel. Once a Letani returns to the embrace of Nestphar’s prime Symphony, its experiences are reconnected and absorbed into the Arborec, as a data-capsule would be reconnected to its mainframe. While surely intelligent and demonstrably capable of crafting impressive technologies, structures, and a sophisticated fleet of interstellar craft, the Arborec’s method of commutation remains a source of great controversy.</p> 
        
        <br> 
        
    <p>Being a race of vegetative and fungal matter, handling its own data transmission and emotive projection through the prime Symphony, the Arborec have never developed any form of visual or auditory communication (concepts which, to this day, remain foreign to them). Arborec scientists found the solution to this dilemma in the Sol merchant vessel Dies Opulen. The crew of the Dies Opulen had tragically become in feted by Yborin Plague on Maaluk and had later died in deep space. When the derelict ship was found by an Arborec scout, it was determined the cool bodies of the human crew were in perfect condition for an ambitious experiment. The bodies were sent to the great laboratories in the Kishin, near the Arborec capital Phara.</p> 
        
        <br>
        
    <p>Here, final Arzuga cells were attached to the brainstems of the dead humans. It was hoped, when grown under proper conditions, the complex acidic properties of Arzuga would successfully merge the cells with the innate brain-tissue of the deceased subjects, slowly re-stimulating the neural pathways back to life. Then, by injecting photo-voltaic stems into the soft tissues of the dead body, the neurally active Arzuga would spur the soft tissue cells to heal and regrow, effective reanimating the dead body. Symbiotically attached to the host body the Arzuga fungi evolved into a new being, on which the Arborec call the Dirzuga.</p> 
        
        <br>
        
    <p>The Dirzusga were the missing link between the Symphony and the manifestation of physical communication that the Arborec lacked. Over the following few decades, the Arborec eagerly acquired additional subjects (human bodies seem to work best and are the most frequently used, but Letnev, Winnu, and Xxcha bodies are also commonly used as Dirzuga hosts), establishing a sizable diplomatic and trading corps that have become the basis for the Arborec’s interaction with the rest of the galaxy. The Arborec insist the host bodies of the Dirzuga are devoid of the expired individuals’ consciousness. With a cultural relationship to death rooted in the natural cycle of decomposition and regrowth, the Arborec have little understanding of sympathy for those who vigorously protect the bodies of their citizens being reused (some use the term “enslaved”) in such a manner. </p>
        
        <br>
        
    <p>Ultimately, despite the objections of the dissident races, the Arborec were admitted as a member of the galactic council. The potential wealth of foodstuffs, medicines, and other treasures of Nestphar proved effective in overcoming any objections. While the Arborec insist that the past knowledge and experiences of the Dirzuga bodies do not persist beyond this reanimation, there are some who suspect the Arborec do not tell the entire truth. Such theorists can provide many examples in which the Arborec seem to have come upon information, or intimate understanding of other cultures, that seem inexplicable otherwise. "</p>

    
    
</div>

