.container-fluid{
    background-image: url(https://cdn.mos.cms.futurecdn.net/icSun6JubcGMrywDfy8LYC.jpg);
    margin-top: 20px;
}

.btn {
    background-color: red;
}

#factions{
    vertical-align: top;
    overflow: scroll;
    height: 750px;
    margin-top: 50px;
    float: right;
    color: white;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.faction-name{
    background-color: darkslateblue;
}