<div class="container">
    <div class="content">
        <h2>Twilight Imperium Fourth Edition</h2>
        <p>Mecatol Rex. The center of the known galaxy and seat of the former Lazax Empire. Scarred by the flames of betrayal, Rex is a specter of a fallen empire and of ages long forgotten, yet it remains an object of reverence— and desire—in a galaxy of conflict and uncertainty.</p>
        <br>
        <p>Once, the great city that spanned its surface was the pinnacle of civilization. Today, Mecatol City is naught but a blasted shell of its former glory, a grim respite in the toxic Sea of Desolation that covers the majority of the planet.</p>
        <br>
        <p>Even so, its parabolic history of decadence and destruction does little to deter those who would seek to harness its power. The Winaaran custodians who dwell within the remnants of the city maintain what is left of the former capital, waiting for one of the Great Races to step forward and take up the mantle of the former Emperors.</p>
        <br>
        <p>But who among the races of the galaxy could fill the void left by the Lazax? To lay claim to the throne is a destiny sought by many, yet the shadows of the past serve as a grim warning to those who would follow in their footsteps...</p>
        <br>
    </div>


    
</div>
