<div class="col-sm-9" id="factions">
    <div class="container">
        <h1>{{faction[0].faction}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{faction[0].image}}" alt="Barony Image" width="350" height="400">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{faction[0].government}}</li>
                </ul>
                <h5 class="h5_Header">Technologies</h5>
                <ul>
                    <li><span>L4 Disruptors: </span>{{faction[0].technologies.L4_Disruptors}}</li>
                    <li><span>Non Euclidean Shielding: </span>{{faction[0].technologies.NonEuclideanShielding}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>War Funding: </span>{{faction[0].promissory_note}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul>
                    <li><span>Munitions Reserves: </span>{{faction[0].abilities.Munitions_Reserves}}</li>
                    <li><span>Armada: </span>{{faction[0].abilities.Armada}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr>
    <div>
        <h5 class="h5_Header">Flagship: {{faction[0].flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].flagship.combat}}</li>
            <li><span>Move:</span> {{faction[0].flagship.move}}</li>
            <li><span>Capacity:</span> {{faction[0].flagship.capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].flagship.abilities}}</li>
            
        </ul>
    </div>
    <h5 class="h5_Header">Lore</h5>
    <p>In the very blackness of space lies cold, hard Arc Prime. Its system has no central star and Arc Prime’s lack of a defined orbit has been a mystery to scientists for millennia. It is common to jest that Arm Prime is simply afloat in space and that only the Letnev disdain for the rest of the galaxy protects it from a fatal collission. The Letnev’s principal vassal, Wren Terra, shines like a mighty start in the ebon distance, while thorny military ships surround the dark planet like fire flies attracted to a black hole.</p>
    <br>
    <p>Foreign visitors to Arm Prime will, under heavy fighter escort, be directed to the Dunlain Crater. The crater holds the sprawling city of Feruc, Arm Prime’s only city located on the planetary surface. Feruc is a pressurized msh of icy black metal housing, belching industries, warehouses and military installations. The thin atmosphere of Arm Prime prohibits normal surface life outside the cold pressurized facilities of Feruc. Sine the Barony has no use for the meager atmospher of Arm Prime, it freely emits unfiltered pollutants from the underground Letnev cities and factories to the surface. A journey to Feruc is likely to leave a thick layer of frozen black residue on any vessel. It is a common merchant endeament to call a ship returning from Arc Prime a “Chimney Sweeper”.</p>
    <br>
    <p>Under the surface of Arm Prime, heated by its planetary core, the Baron presides over the proud and fierce Letnev people. Few non-natives have ever visited the capital Goz, fabled “city of a billion”, or the other six major underground urban centres of Arm Prime. A gray organic plant material, called Ao by the Letnev, is found everywhere in Arm Prime’s underground. It is Ao that supplies the oxygen to the enormous cavern-networks, and the plant is held in almost religius awe and respect by the Letnev people.</p>
        
    <br>
    <p>Although tens of thousands of moist fungus caves are farmed by an army of intelligent machines, the Letnev’s great wekness has always been its shortage of food, liquid, medicines and essential vitamins. The ancient Lazax kept the aggressive race in check by maintaining strict control of the Letnev food supplies and trade.</p>
        
    <br>
    <p>Throughout the time of the Lazax Empire, the Letnev led two unsuccessful rebellions against the Imperium. Their history of dissenion justified a constant imperial oversight of Arc Prime and its people. The Letnev blockade of the Quann wormhole at the end of the Age of Dusk, was started in protest over the Lazax sanctions and supervision. it was the Quann conflict that ignited the Twilight Wars and the final downfall of the empire.</p>
        
    <br>
    <p>After Wren Terra was annexed by the Letnev during the latter years of the Age of Dusk, their colonies here have been primarily occupied with growing and supplying food for the population of Arc Prime. Foreign trade with the Letnev consists mainly of foodstuffs for which merchants recieve metals, weapons and sharp Saimoc – strong crystals used in mining operations across the galaxy.</p>
        
    <br>
    <p>The Baron keeps order by maintaining a strict bureaucracy, discipline and an elitist military culture that brings the strongest and the smartest directly under his control. The pale Letnev despise light and will often wear protective headgear when visiting other worlds with bright sunlight.</p>
        
    <br>
    <p>The legendar Letnev troops are only surpassed in brute strngth by the Tekklar N’orr elite soldiers of distant Quinarra. With the new awakenign of ambitions among the great races, the resurgence of interstellar commerce and the recent momentum of the Galactic Council, the Baron has secretly been preparing to lead his people to find cominance. Baron Daz Emmiciel Werquan III, has only one ambition: to become emperor at any cost.</p>

</div>
