p span{
    font-weight: bold;
    text-transform: uppercase;
    color: gold;

}

#factions{
    vertical-align: top;
    margin-top: 50px;
    height: 750px;
    overflow: scroll;
    float: right;
    color: white;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

li span{
    font-weight: bold;
    text-transform: uppercase;
    color: gold;
    
}

.h5_Header{
    font-weight: bold;
    color: royalblue;
}