<div class="col-sm-8" id="factions">
    <div class="container">
        <h1>{{faction[0].faction}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{faction[0].image}}" alt="Muaat Image" width="350" height="400">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{faction[0].government}}</li>
                </ul>
                <h5 class="h5_Header">Technologies</h5>
                <ul>
                    <li><span>Magmus Reactor: </span>{{faction[0].technologies}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>Fires of the Gashlai: </span>{{faction[0].promissory_note}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul>
                    <li><span>Star Forge: </span>{{faction[0].abilities.Star_Forge}}</li>
                    <li><span>Gashlai Physiology: </span>{{faction[0].abilities.Gashlai_Physiology}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr style="color: white;">
    <div>
        <h5 class="h5_Header">Flagship: {{faction[0].flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].flagship.combat}}</li>
            <li><span>Move:</span> {{faction[0].flagship.move}}</li>
            <li><span>Capacity:</span> {{faction[0].flagship.capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].flagship.abilities}}</li>
            
        </ul>
    </div>
    <div>
        <h5 class="h5_Header">Special Unit: {{faction[0].unit_upgrades[0].name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].unit_upgrades[0].cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].unit_upgrades[0].combat}}</li>
            <li><span>Abilities:</span> {{faction[0].unit_upgrades[0].abilities}}</li>
            <li><span>Pre-Reqs:</span> {{faction[0].unit_upgrades[0].prerequisites}}</li>
        </ul>
        <h5 class="h5_Header">Special Unit: {{faction[0].unit_upgrades[1].name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].unit_upgrades[1].cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].unit_upgrades[1].combat}}</li>
            <li><span>Abilities:</span> {{faction[0].unit_upgrades[1].abilities}}</li>
            <li><span>Pre-Reqs:</span> {{faction[0].unit_upgrades[1].prerequisites}}</li>
        </ul>
        
    </div>
    <h5 class="h5_Header">Lore</h5>
    <p>It was during the early years of the Age of Dusk that Jol Nar exploreres came upon the volcanic planet of Muaat. Scouting for resources beyond the Mahact plateau the explorers were amazed by the mineral wealth of their discovery but they were truly awestruck by the extraordinary qualities of the plenets fiery inhabitants, the Gashlai.</p>
    <br>

<p>The Gashlai were unlike any race known to the Jol Nar; sentient beings with bodies slowly consubed by fiery heat. After their conception, Gashlai cocooning process somehow enables conversion of engery into mass – a process hinted at by scientific theory, but forever though unattainable on a subatomic scale.</p>
<br>

<p>The Jol Nar beefited greatly from Muaat’s resource, yet they were frustrated in their attempts to replicate the Gashlai cocooning process. Instead the Gashlai proved useful as slave labour, as the Headmasters transformed the orbit of Muaat into a massive shipyard for their navy. It was here, at Muaat shipyards, that the construction of secret Jol Nar superweapon began.</p>
<br>

<p>The Gashlai suffered under their enslavement by the Jol Nar, but events of the earlly Twilight Wars would dramatically change their fortune.</p>
<br>

<p>Just after the Twilight Wars erupted, a Jol Nar expedition party searching for mineral deposits on Muaat became infected by an organism in the Doolak Mountains. The infection developed into a disease later know as the Doolak plague. The covert, yet frequent, traffic between Muaat and the Garian star system allowed for the spread of the virus to the Jol Nar home worlds.</p>
<br>

<p>The plague became one of the greatest disasters in Jol Nar history and only the early research of Gashlai biology allowed the Headmasters to devise a vaccine before the entire Jol nar population was destroyed. Before the Jol Nar could fully recover from this disaster, their military offensive collasped and soon the Headmasters would face ruthless advance of the Sardakk N’orr.</p>
<br>

<p>As the Jol Nar navy retreated the Headmasters were forced to call forth their secret weapon at Muaat. This weapon – an enormous battle vessel called a “War Sun” – was not yet entirely complete but with their fates clinging to the defenses of the Saudor system the Headmasters had no choice but to bring it to bear against the enemy.</p>
<br>

<p>As the War Sun left its Muaat moorings and as the majority of the remaining Jol Nar personnel left with it, the Gashlai finally carved their own destiny. Having long schemed against their enslavers they incinerated the remaining Jol Nar in the system capturing the shipyards and every available scientific document left behind by their hated oppressors.</p>

<br>

<p>Not long after their costly victory at Saudor, the Jol Nar sought to return to their colony at Muaat but found that all communications with the system had been severed. Exploratory ships sent to Muaat would not return. Though the Headmasterssuspected what might have taken place on their old colony, they were unable to return there in force again.</p>
<br>

<p>Throughout the long Dark Years, the Gashlai prospered.</p>

<br>

<p>Clad in Ember suits, special body armor shielding the Gashlai from cold and others from their lethal heat, a large assembly of Gashlai envoys ahve recently arrived at Mecatol Rex, demanding recognition and representation. The High Fire Warden Sushon Azh has simultaneously sent forth Gashlai ambassadors to all the great races in the distinctive gold-bronze frigates of Gashlai.</p>
<br>
<p>Yet one such ambassador did not arrive in a frigate.</p>
<br>
<p>As the Gashlai ambassador assigned to the Jol Nar sailed past the Garian star and began his approach to Jol, the Headmasters paled in fear; for their representative arrived in a War Sun, a copy of their own ancient designs. The message was not wasted on the Headmasters. Their former slaves had become formidable and they had not fogotten or forgiven the past.</p>

<br>

<p>Led by the Fire Wardens, the Gashlai are resolved to never be enslaved again. insdie their golden Ember suitsthey burn with ambition. The Jol Nar fear what the rest of the galaxy is about to lear: that the Embers of Muaat intend to bring their fire to the furthest reaches fo space, burning the unwilling into submission.</p>

</div>
