<div class="col-sm-8" id="factions">
    <div class="container">
        <h1>{{faction[0].faction}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{faction[0].image}}" alt="Yssaril Image" width="350" height="400">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{faction[0].government}}</li>
                </ul>
                <h5 class="h5_Header">Technologies</h5>
                <ul>
                    <li><span>Transparasteel Plating: </span>{{faction[0].technologies.TransparasteelPlating}}</li>
                    <li><span>Mageon Implants: </span>{{faction[0].technologies.MageonImplants}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>Spy Net: </span>{{faction[0].promissory_note}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul>
                    <li><span>Stall Tactics: </span>{{faction[0].abilities.StallTactics}}</li>
                    <li><span>Scheming: </span>{{faction[0].abilities.Scheming}}</li>
                    <li><span>Crafty: </span>{{faction[0].abilities.Crafty}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr style="color: white;">
    <div>
        <h5 class="h5_Header">Flagship: {{faction[0].flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].flagship.combat}}</li>
            <li><span>Move:</span> {{faction[0].flagship.move}}</li>
            <li><span>Capacity:</span> {{faction[0].flagship.capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].flagship.abilities}}</li>
            
        </ul>
    </div>

    <h5 class="h5_Header">Lore</h5>
    <p>Near the Mehact Plateau, diagonally opposite the Passage of Tears, but located in a far richer area of the region, shines the Myok star and its two habitable planets, Shalloq and Retillion. As recorded in even the earliest annals, Retillion has been know for the Edible delicious menn root. Throughout the Lazax Imperium, many farming colonies existed on Retillion, harvesting the roots along the musky and odorous shores of the Fianni swamps. In the years of Lazax Emperor Munhan Las Idu, the colonization efforts were dramatically expanded. Not long after the start of the farming expansion, however things started to go terribly wrong on Retillion: farm machines were sabotaged, isolated farms destroyed, inhabitants murdered by an unseen foe that would strike when the bog mists rolled over the lands.</p>
        <br>
    <p>The empire sent reinforcements and the colonists soon realized that they were under systematic attack by a small native chameleon race with natural greenish skin and large yellow lamp-like eyes. These aborigines had the ability to “fade”, making them virtually invisible to the naked eye and a great threat to the farming boom towns springing up along the edges of the measureless swamps. It was clear that the natives were a primitive race, but fierce, intelligent and relentless in their intent to stop the invasive farming of their native swamplands. From the few early prisoners, it was learned that they called themselves the “Yssaril” and that a vast network of villages and tribes was to be found in the continent-sized Fianni swamp.</p>
        <br>
    <p>Eager to renew the supplies of their beloved menn root, the Lazax sent their 21st expeditionary division to suppress the Yssaril uprising, allowing for the resumption of the increased farming mandate. During these bloody years, thousands of Yssaril were captured and shipped to governments and buyers across the galaxy for study or hunting sports. Although farming did resume, the Lazax military division never completely suppressed the Yssaril natives. As the small green Yssaril adapted to the Lazax style of warfare, as they stole and learned to use Lazax weapons, the Fianni swamp soon became an embarrassing killing field for Lazax conscripts.</p>
        <br>
    <p>It was during the Age of Dusk that the great races learned to utilize the potential of the intelligent Yssaril as spies and assassins for their covert operations. For a hundred years, the Yssaril learned the skills of stealth, the usages of technologies and the power of information. Combined with their own natural ability to become nearly invisible, they soon came to realize their own potential and established the powerful and feared Guild of Spies. By the proceeds derived from the Guild of Business, the Yssaril added a formidable income source to their civilization and to the development of Retillion. With this power and influence, they were able to convince the Lazax to leave the planet (while still supplying men root). Over a few generations, the Yssaril became industrial, educated and ambitious.</p>
        <br>
    <p>Although still powerful in covert circles, the Guild now functions as the prime governing body of the united Yssaril tribes. The Guild elects its leader from its faction of master assassins. This prime leader, the Cqaark, leads a powerful civilization of an intelligent, determined and ambitious people: a people whos history has left them with little love for other great races.</p>
        <br>
    <p>Since the Lazax left, no off-worlders have been allowed on Retillion. The Yssaril capital Wuecca lies somewhere deep in the Fianni swamps, its actual location unknown to all but the Yssaril. The official business, trade and covert business is conducted from the planet Shalloq. From here, or from Shalloq’s great orbital trade station Haarsuh, the Yssaril receive foreign emissaries, merchants and visitors.</p>
        <br>
    <p>The proud fierce Yssaril are slowly starting to look beyond their borders and beyond the income of the Guild. Hidden in the planetary shadow of Shalloq and kept secret from the rest of the galaxy by the covert means at which the Yssaril excel a great invasion fleet is being built. Although the rest of the galaxy may shudder at the Yssaril’s unseen eyes and ears it would be terrified if it knew the ruthless imperial ambitions of the small green people.</p>
</div>




