<div class="col-sm-8" id="factions">
    <div class="container">
        <h1>{{faction[0].faction}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{faction[0].image}}" alt="Nekro Image" width="350" height="400">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{faction[0].government}}</li>
                </ul>
                <h5 class="h5_Header">Technologies</h5>
                <ul>
                    <li><span>Valefar Assimilator X: </span>{{faction[0].technologies.Valefar_AssimilatorX}}</li>
                    <li><span>Valefar Assimilator Y: </span>{{faction[0].technologies.Valefar_AssimilatorY}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>Antivirus: </span>{{faction[0].promissory_note}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul>
                    <li><span>Galactic Threat: </span>{{faction[0].abilities.Galactic_Threat}}</li>
                    <li><span>Technological Singularity: </span>{{faction[0].abilities.Technological_Singularity}}</li>
                    <li><span>Propagation: </span>{{faction[0].abilities.Propagation}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr style="color: white;">
    <div>
        <h5 class="h5_Header">Flagship: {{faction[0].flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].flagship.combat}}</li>
            <li><span>Move:</span> {{faction[0].flagship.move}}</li>
            <li><span>Capacity:</span> {{faction[0].flagship.capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].flagship.abilities}}</li>
            
        </ul>
    </div>
    
    <h5 class="h5_Header">Lore</h5>
    <p>There are those who maintain the universe holds no absolutes. That nature is indifferent to values and emotions. That acceptance of alien behaviour and traditions and even ambitions, is the principal roadmap to a prosperity and coexistence. They maintain that the paramount virtue, being tolerance, allows for no talk of angles or demons, only for differences in perspective.</p>

    <br>

        <p>There are others who maintain that only in the sheltered garden of such views can true evil take root.</p>
    <br>    
        <p>As told in detail elsewhere, on the eve of the empire’s fall, the legendary Lazax councillor Ibna Vel Syd led a small contingent of his people on a secret exodus into unknown space and in doing so, escaped the massacre of his people that would follow.</p>
        <br>
        <p>The travails of Ibna’s refugee-colonists were many and only with the help of increasingly extreme technological augmentation did they survive the early years of resettlement. This reliance on technology became the foundation of what would evolve into the vast cybernetic civilization of the L1z1x.</p>
        <br>
        <p>While the narrative of Ibna’s early struggles are common lore, few know of the much darker struggle that shadows the L1z1x’s past: the great schism which ravaged their society a thousand years before their belligerent return to known space.</p>
        <br>
        <p>At the time just prior to this great civil conflict, the L1z1x had left their humble colonial roots far behind. Their numbers had grown vast, their industry and martial prowess had become formidable and their advancement in augmentation had reached its high point. The scions of Vel Syd were rapidly accumulating the power needed to return to known space and reclaim their lost empire. Already, detailed plans circulated in the Mindnet with that very goal. Then came the madness of Mordai.</p>
        <br>
        <p>Mordai was the greatest of the L1z1x enhancers. His innovation and industry made him foremost among the L1z1x elite. He worked tirelessly for the advancement of the Mindnet, always using his own body as the first subject for any new brilliant augmentation of his invention. He was meticulous, inspirational and brazenly ambitious. He believed in the possibility of the perfect existential reality: an apex of the living soul and the helpful machine. This quest was, in his words: “the final step of all craft. The gate to eternity. A transcendency to a state-of-being that can only be described as a form of godhood.”</p>
        <br>
        <p>Unsurprisingly, such hubris would meet its nemesis. As Mordai underwent the self-imposed implant of a cortex migratory, the first of several devices leading to this final ascension, something went horribly awry. It’s assumed that the smallest of software glitches existed in the cortex module, overlooked even by the meticulous Mordai. As the software began to iterate and integrate with Mordai’s neural activity, it’s began a powerful recursive disease, a virus, that would infect Mordai’s sanity.</p>
        <br>
        <p>The personality changes in Mordai were subtle at first. A new subtext entered his work. Passionate mantras that flesh, that biology, was holding back the aspirations of the Mindnet. He had come to believe that the conscious machine was the true higher form of being, one more naturally fit to rule the galaxy than the accident of phosphorous chemistry at the primordial heart of biomatter.</p>
        <br>
        <p>Mordai began a series of sever operation to excise the biology of his own body, encouraging and coercing his staff and investors to do the same. Mordai’s charismatic preaching soon gained momentum. His growing cadre of followers calling themselves Nekro, began clandestine assaults on their unwilling brethren, forcefully submitting them to the removal of living tissue.</p>
        <br>
        <p>By the time the leaders of the Mindnet came to realize that the Nekro movement had to be stopped, Mordai had completed his transformation into a fully mechanical being: a gibbering arachnid of black metal, mad with recursive corruption and the hunger to perpetuate. The efficiency of the Nekro virus was astounding. Mordai’s body had been rebuilt as a micro-factory and from it thousands of microscopic insectile machines sprung forth, attaching themselves to any technology in sight, replicating Mordai’s madness with horrible speed.</p>
        <br>
        <p>Rebuilding themselves to Mordai’s visions, the new machines became reproductive. Perceiving the threat posed by the Mindnet, they quickly began to construct an army with a single terrifying purpose: the utter elimination of all organic matter.</p>
        <br>
        <p>The war to subdue the Nekro virus was a great setback for the L1z1x. The virus’s numbers were legion and its visage sprung from Mordai’s nightmares. From scorpion-inspired Defilers to the giant Mordreds each new Nekro model was more demonic and deadly than the last. Replenishing this evil army were the monstrous Abbadons: moving factories that ravenously consumed all materials in their path, seamlessly feeding fresh metals to their internal construction facilities.</p>
        <br>
        <p>This civil war lasted about five years, with the Mindnet ultimately vanquishing the virus.</p>
        <br>
        <p>It took the L11z1x nearly five centuries to regain their former strength and another five to arrive at their current power. With no new Nekro instantiation resurfacing for new 700 years, the L1z1x came to believe the virus was wiped out forever. Until now.</p>
        <br>
        <p>In light of the recent Nekro resurgence, it is conjectured that a virus infested orbital satellite must have escaped Null’s gravity during the schism and vanished undetected into rim space. Here, it must have traveled silently for years until it was pulled into a mineral-rich planet somewhere at the edge of the galaxy. Left alone to its own devices, the virus was able to adapt and replicate again. Then, having absorbed most of the material on its accidental home-world, the Nekro clawed its way to space in merciless propagation of its core mission.</p>
        <br>
        <p>Some will seek to understand and find common ground with the Nekro, preaching tolerance for the intolerant. But those who have seen the devastated systems absorbed by the resurgent Nekro know that while angels remain a fantasy of the hopeful; out of the darkness have come demons. And in their wake follows blackness and death.</p>

</div>


