<div class="col-sm-9" id="factions">
    <div class="container">
        <h1 *ngIf="factionId">{{data.faction}}</h1>
        <p>{{data | json}}</p>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{factionData}}" alt="{{factionData.faction}} Image" width="350" height="400">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{factionData.government}}</li>
                </ul>
                <h5 class="h5_Header">Technologies</h5>
                <ul *ngFor="let tech of factionData">
                    <li><span>{{factionData.tech.name}}: </span>{{factionData.tech.info}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>{{factionData.promissory_note.name}}: </span>{{factionData.promissory_note.info}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul *ngFor="let ability of factionData">
                    <li><span>{{factionData.ability.name}}: </span>{{factionData.ability.info}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr style="color: white;">
    <div>
        <h5 class="h5_Header">Flagship: {{factionData.flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{factionData.flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{factionData.flagship.combat}}</li>
            <li><span>Move:</span> {{factionData.flagship.move}}</li>
            <li><span>Capacity:</span> {{factionData.flagship.capacity}}</li>
            <li><span>Abilities:</span> {{factionData.flagship.abilities}}</li>
            
        </ul>
    </div>
    <div *ngFor="let unit of factionData">
        <h5 class="h5_Header">Special Unit: {{factionData.unit.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{factionData.unit.cost}}</li>
            <li><span>Combat Roll:</span> {{factionData.unit.combat}}</li>
            <li><span>Abilities:</span> {{factionData.unit.abilities}}</li>
            <li><span>Pre-Reqs:</span> {{factionData.unit.prerequisites}}</li>
        </ul>
    </div>
    
</div>


