<div class="col-sm-8" id="factions">
    <div class="container">
        <h1>{{faction[0].faction}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{faction[0].image}}" alt="Hacan Image" width="300" height="325">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{faction[0].government}}</li>
                </ul>
                <h5 class="h5_Header">Technologies</h5>
                <ul>
                    <li><span>Production Biomes: </span>{{faction[0].technologies.Production_Biomes}}</li>
                    <li><span>Quantum Datahub Node: </span>{{faction[0].technologies.Quantum_Datahub_Node}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>Trade Convoys: </span>{{faction[0].promissory_note}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul>
                    <li><span>Masters of Trade: </span>{{faction[0].abilities.Masters_of_Trade}}</li>
                    <li><span>Guild Ships: </span>{{faction[0].abilities.Guild_Ships}}</li>
                    <li><span>Arbiters: </span>{{faction[0].abilities.Arbiters}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr style="color: white;">
    <div>
        <h5 class="h5_Header">Flagship: {{faction[0].flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].flagship.combat}}</li>
            <li><span>Move:</span> {{faction[0].flagship.move}}</li>
            <li><span>Capacity:</span> {{faction[0].flagship.capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].flagship.abilities}}</li>
            
        </ul>
    </div>
    <h5 class="h5_Header">Lore</h5>
    <p>Under the punishing rays of the massive star Kenara lies the tri-system of Hacan. Each of its three satellites wrapped in the yellow haze so distinctive of desert planets. These three jewels are called Arretze, Kamdorn and Hercant. Here, the united Emirates of the Hacan have grown a mighty civilization of warriors, nomads, farmers and above all; merchants.</p>
<br>
        <p>The Kenara system is one of the most heavily trafficked in the known universe. Only the wormhole portal systems see more traffic in any given cycle. From Kenara an untold number of Hacan and other merchant vessels traverse the galaxy. This traffic is supported by entire cities of space stations that provide the warehousing, logistics, maintenance, banking , entertainment and other necessities facilitating the constant flow of goods, ships and crew.</p>
      <br>  
        <p>On the surface of the three hot desert planets, life is slower and more serene. Only life in the city of Harcarun on the planet Arretze matches the breathless pace of the space above. Lovated in a shadowy vale near the Arretze northern pole, Harcarun is the only city in the tri-system that has a fixed position. Its permanent location and almost bearable climatehas made Harcarun the primary point of operation for most non-native trading corporations, financiers and oppurtunists. The Hacan, despite the uncanny ability for establishing financial relationships and building trade, generally despise the chaotic lifestyle, and, to them, windy cold of Harcarun.</p>
    <br>   
        <p>The Hacan people dwell mostly in cities built on massive dust-sleds, constantly moving to cooler climates as the desert seasons shift. Although some technology has been introduced in the last hundred years, most Hacan cities are still pulled by vast herds of Tuuran beasts, whose gill-like skin membrances take moisture from the very air itself.</p>
     <br>   
        <p>In their distant past, the Hacan were a poor species, their exploits into space dwarfed by the other great races of the Imperium. Then slowly the Hacan discovered an insatiable off-worlder lust for special products grown under the Kenara’s blinding light of dug from the deep sands of their home worlds, the intoxicating gerr root, clothes made from the starflowers that only rise during the Hercant’s equinox, Spehat aphrodisiacs, liquors, medicines and forbidden drugs: All harvested and manufactured by the craft and patient hands of the Hacan.</p>
    <br>    
        <p>Soon the Hacan became master of trade and their system prospered as unfathomable fortunes were made by the increasingly powerful trading clans, chief among them the Mowshir Emirate of Arretze. The desire to protect their newfound wealth and a will to peacefully regulate and arbitrate between the clans, moved the Hacan to form a representative gathering and to elect a Quieron – the leader who speaks for all the Hacan. The Quieron leads the entire hierarchy of trade-groups, each possessing its own fleets of commerce and war. His task: to lead his people to the Imperial Throne, establishing an era of wealth and peaceful commerce.</p>

    
    
</div>


