#override {
    background-color: black;

}

.row{
    width: 15%;
}

.jumbotron{
    background-image: url(https://img.wallpapersafari.com/desktop/1600/900/90/73/vgR97F.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#sideBar{
    display: inline-block;
    width: 300px;
    
}

