<div class="col-sm-8" id="factions">
    <div class="container">
        <h1>{{faction[0].faction}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{faction[0].image}}" alt="Winnu Image" width="350" height="400">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{faction[0].government}}</li>
                </ul>
                <h5 class="h5_Header">Technologies</h5>
                <ul>
                    <li><span>Lazax Gate Folding: </span>{{faction[0].technologies.LazaxGateFolding}}</li>
                    <li><span>Hegemonic Trade Policy: </span>{{faction[0].technologies.HegemonicTradePolicy}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>Acquiesence: </span>{{faction[0].promissory_note}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul>
                    <li><span>Blood Ties: </span>{{faction[0].abilities.BloodTies}}</li>
                    <li><span>Reclamation: </span>{{faction[0].abilities.Reclamation}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr style="color: white;">
    <div>
        <h5 class="h5_Header">Flagship: {{faction[0].flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].flagship.combat}}</li>
            <li><span>Move:</span> {{faction[0].flagship.move}}</li>
            <li><span>Capacity:</span> {{faction[0].flagship.capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].flagship.abilities}}</li>
            
        </ul>
    </div>

    <h5 class="h5_Header">Lore</h5>
        <p>The Winnu system was the first system to seek annexation into the Lazax Empire. Throughout their history, the Winnaran’s had suffered countless civil wars, a deteriorating climate and debilitating disease. They were a race on the brink of extinction when they first came into contact with the Lazax, and only with generous Lazax support did the Winnaran race survice. The Lazax allowed the Winnarans into their empire and over time healed the scares of Winnu. More importantly, the Winnarans came to embrace the Lazax code of strength and peace, the powerful doctrine which had allowed the first Lazax emperor to defeat the last of the mad Mahact kings and to emerge as a shining beacon of peace and stability in a dark galaxy.</p>
<br>
        <p>The Winnarans were eternally grateful to the Lazax and swore an oath of servitude to the emperors. Disciplined and diligent, the Winnarans became indispensable to the Lazax as bureaucrats, councillors and administrators. As their empire grew increasingly complex, it was likely that the Lazax would not have been able to hold their empire together without the work and attention to detail of the Winnarans. Then, as the Lazax decided to move their imperial seat to a planet more central to the galaxy, more than half of the population of Winnu joined the Lazax diaspora to this new home. That home was the planet Mecatol, which would become the Rex, the splendid jewel in the imperial crown. As the ages came and went, most Winnarans began to think of Mecatol as their ancestral home and the relevance and memory of Winnu and their brethren there diminished.</p>
        <br>
        <p>Yet the Winnaran population on Winnu, now generally called the “Winnu”, quietly built their own civilization following the doctrine of the emperors. Much Lazax lore, wisdom and culture is intact on Winnu even as all other Lazax imagery and culture was destroyed elsewhere in the galaxy during the great scourge.</p>
        <br>
        <p>As the memory of the great scourge faded and as the Dark Years seemed to stretch along endlessly, the Mecatol Winnarans and the Winnu grew estranged from one another. On Mecatol, the Winnarans were bound to rigid tradition and scholarship, while the Winnu culture had evolved and prospered. The Winnu became ashamed of their submissive cousins on Mecatol, whom they began to regard as a grey, backwards people devoid of fashion, art and culture.</p>
        <br>
        <p>As a new age is dawning, the Winnu truly believe themselves to be the inheritors of the Lazax. The philosophies, their artwork and even the clothing fashion of the Winnu is rooted in that of the ancient Lazax. Some outside observers, however, will note that along with the Winnu preservation of Lazax imagery and culture, that time has brought the return of more traditional Winnaran traits in the Winnu – ambition, pride and impatience.</p>
        <br>
        <p>As they grew prosperous and powerful the Winnu witnessed the re-emergence of the other great races with annoyance and mistrust. Those were the races that had slaughtered their benefactors and their return to power felt to the Winnu like sacrilege aginast the memory of the Lazax. Even more poisonous to the Winnu was the fact that their submissive cousins on Mecatol had invited these races to re-establish the galactic council there – even going as far as inviting the races that resigned from the Lazax council immediately before the Age of Twilight.</p>
        <br>
        <p>With the pride of a new, powerful civilization and the sense of Lazax entitlement, the supreme Winnu leader Muab Di Faruuq traveled to Mecatol and demanded that the Winnarans return to the sovereignty of Winnu and that the custodians grant the Imperial Thrown to their own race as the rightful heirs of the Lazax.</p>
        <br>
        <p>The Mecatol Winnarans, ever mindful of their responsibility to the entire galaxy, sorrowfully declined the demand of their brethren. As they did so, they feared that their short-tempered Winnu brothers and sisters would become angered and that the resulting bitterness would forever break apart whatever kinship remained between them.</p>
        <br>
        <p>The Winnarans’ fear was well placed. Muad Di Faruuq was furious with their decision and rushed back to Winnu, but not before establishing a consulate and council presence for the Winnu on Mecatol. Upon his return to Winnu he proclaimed the betrayal of the Winnarans and swore that if Mecatol and the Imperial Thrown would not be ceded to the Winnu by peaceful means then in the memory of the Lazax, force would be the only answer.</p>
        <br>
        <p>The Winnu population rushed to Faruuq’s support, a sense of righteousness and superiority motivating them to an intense mobilization. Building massive fleets, eerily reminiscent of ancient Lazax designs and training massive invasion forces, the Winnu are intent on returning true to Lazax culture to the galaxy.</p>
</div>



