<div class="col-sm-8" id="factions">
    <div class="container">
        <h1>{{faction[0].faction}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{faction[0].image}}" alt="Sarr Image" width="350" height="400">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{faction[0].government}}</li>
                </ul>
                <h5 class="h5_Header">Technologies</h5>
                <ul>
                    <li><span>Chaos Mapping: </span>{{faction[0].technologies}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>Ragh's Call: </span>{{faction[0].promissory_note}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul>
                    <li><span>Scavenge: </span>{{faction[0].abilities.Scavenge}}</li>
                    <li><span>Nomadic: </span>{{faction[0].abilities.Nomadic}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr>
    <div>
        <h5 class="h5_Header">Flagship: {{faction[0].flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].flagship.combat}}</li>
            <li><span>Move:</span> {{faction[0].flagship.move}}</li>
            <li><span>Capacity:</span> {{faction[0].flagship.capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].flagship.abilities}}</li>
            
        </ul>
    </div>
    <div>
        <h5 class="h5_Header">Special Unit: {{faction[0].unit_upgrades[0].name}}</h5>
        <ul>
            <li><span>Move:</span> {{faction[0].unit_upgrades[0].move}}</li>
            <li><span>Capacity:</span> {{faction[0].unit_upgrades[0].capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].unit_upgrades[0].abilities}}</li>
            <li><span>Pre-Reqs:</span> {{faction[0].unit_upgrades[0].prerequisites}}</li>
        </ul>
        <h5 class="h5_Header">Special Unit: {{faction[0].unit_upgrades[1].name}}</h5>
        <ul>
            <li><span>Move:</span> {{faction[0].unit_upgrades[1].move}}</li>
            <li><span>Capacity:</span> {{faction[0].unit_upgrades[1].capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].unit_upgrades[1].abilities}}</li>
            <li><span>Pre-Reqs:</span> {{faction[0].unit_upgrades[1].prerequisites}}</li>
        </ul>
        
    </div>
    <h5 class="h5_Header">Lore</h5>
    <p>Few historians dispute that the Saar were the first of the known races to venture into space but it remains unknown wether it was need or curiosity that drove the otherwise primitive people into such exploration. Their peaceful ways and dispersed civilization never promulgated them to official Lazax recognition. Some scholars have thus called them “the forgotten race.”</p>

    <br>

        <p>The tale of the Saar is a tragic one. Historical records are awash with accounts of deliberate planetary expulsions, even massacres of Saar settlements found on planets colonized by the other races.</p>

        <br>
        
        <p>The musical Saar often chant the “Lay of Lisis” in memory of the largest known Saar colony prior to Ragh’s Call. After the planet of Lisis was annexed by the Sardakk N’orr no word came from the great Saar settlement there again. They simply disappeared. In their memory most Saar females wear a caefully carved silver pendant called the Y’ouf Lisis, or the “Tear of Lisis.” During the Houw Shanan, the Saar Holy Day, such pendants are given to young Saar women while Saar cubs throw beetles and insects into a raging fire and the elders howl at the starts with a longing rage.</p>
        
        <br>

        <p>Before the Call began, the Saar were scattered across the galaxy existing at the mercy of other races. On dozens of worlds Saar could be found living in slums and sublevel cities working in the most noxious and despicable industries and making slim sustenance from the scraps of other civilizations. Considered unclean and barely sentient by other races, Saar life was cheap and subject to little justice. With hard work, polluted environments and no access to proper medical care, the bitter lives of the Saar were often short.</p>
        
        <br>

        <p>It was in the hopeless middle period of the Dark Years that a single Saar, Ragh Gavar, would forever change the destiny of his people.</p>
        
        <br>

        <p>Ragh made his living as the captain of an old scrap metal freighter that flew between Xxehan and Sol, a route that had been in his family for centuries. Despite being a capable trader, Ragh’s passion lay in poetry and the imagination of the pen, in the creation of succinct writings of hope scrawled on paper scraps during long trade hauls. At his ports of call other Saar would often congregate before his loading doors so that they might hear his latest versees and tales. Many of his listeners began to call him the “Captian of Hope.”</p>
        
        <br>

        <p>Yet one year, Ragh did not arrivae at his destination. His rusty navigation system had finally failed and Ragh’s ship was lost among the stars. Floatingin unknown space, as his ancestors had once done so bravely before him, Ragh prayed that the One between the Stars and would see him and his small crew home.</p>
        
        <br>

        <p>The Call began a few years after Ragh Gavar’s disappearance. Throughout the great expansees of the galaxy every Saar began to feel within himself an unyielding longing for the stars and especially for a certain distant place beyond known space.</p>
        
        <br>

        <p>Early followers of the Call found its origin in the great asteroid field of Jorun and here found a small but blossuming Saar colony on the two gigantic asteroids of Ragh and Lisis II. As the Call continued, Saar brethern from across the galaxy continued to arrive at Jorun, together building the infrastructure of civilization and hope for a lost race.</p>
        
        <br>

        <p>Years before, Ragh’s ship had crashed on Jorun. Miraculously, he and his crew had survived and with great wonder they soon discovered the mineral richness, frozen water, atmospheric cavers and strange fauna that lay hidden within the endless ocean of rock.</p>
        
        <br>

        <p>Yet Ragh was restless in his new home. it is told that the Captain awoke one night from a dream and then bade his crewmates farewell, disappearing into the great network of caverns that lies within the asteroid named after him. Ragh Gavar was never found or heard from again. but less then a month after his disappearance, the Call began.</p>
        
        <br>

        <p>Saar mystics believe that the Captain of Hopes has joined the One Between the Sars and that he atlast won forgiveness for the Saar and has called them to relieve their suffering. They believe that Ragh’s Call has brough them home, that the life giving rocks surrounding them are the remnants of the ancient Saar planet of origin and that even in death it is giving its people a second life.</p>
        
        <br>
        
        <p>For centuries the unified and passionate Saar people have built a formidable home and civilisation in the Jorun asteroid field. The Saar have finally found home and they have found that they are strong.</p>

    
    
</div>

