<div class="col-sm-8" id="factions">
    <div class="container">
        <h1>{{faction[0].faction}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{faction[0].image}}" alt="Naalu Image" width="350" height="400">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{faction[0].government}}</li>
                </ul>
                <h5 class="h5_Header">Technologies</h5>
                <ul>
                    <li><span>Valkyrie Particle Weave: </span>{{faction[0].technologies}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>Tekklar Legion: </span>{{faction[0].promissory_note}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul>
                    <li><span>Unrelenting: </span>{{faction[0].abilities}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr style="color: white;">
    <div>
        <h5 class="h5_Header">Flagship: {{faction[0].flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].flagship.combat}}</li>
            <li><span>Move:</span> {{faction[0].flagship.move}}</li>
            <li><span>Capacity:</span> {{faction[0].flagship.capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].flagship.abilities}}</li>
            
        </ul>
    </div>
    <div>
        <h5 class="h5_Header">Special Unit: {{faction[0].unit_upgrades[0].name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].unit_upgrades[0].cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].unit_upgrades[0].combat}}</li>
            <li><span>Move:</span> {{faction[0].unit_upgrades[0].move}}</li>
            <li><span>Capacity:</span> {{faction[0].unit_upgrades[0].capacity}}</li>
            <li><span>Abilities: </span> {{faction[0].unit_upgrades[0].abilities}}</li>
            <li><span>Pre-Reqs:</span> {{faction[0].unit_upgrades[0].prerequisites}}</li>
        </ul>
        <h5 class="h5_Header">Special Unit: {{faction[0].unit_upgrades[1].name}}</h5>
        <ul>
            <li><span>Cost: </span> {{faction[0].unit_upgrades[1].cost}}</li>
            <li><span>Combat Roll: </span> {{faction[0].unit_upgrades[1].combat}}</li>
            <li><span>Move: </span> {{faction[0].unit_upgrades[1].move}}</li>
            <li><span>Capacity:</span> {{faction[0].unit_upgrades[1].capacity}}</li>
            <li><span>Abilities: </span> {{faction[0].unit_upgrades[1].abilities}}</li>
            <li><span>Pre-Reqs:</span> {{faction[0].unit_upgrades[1].prerequisites}}</li>
        </ul>
        
    </div>
    <h5 class="h5_Header">Lore</h5>
    <p>Not far past the Unicorn Nebula, the golden Sardakk star shines in ancient, hot light on giant oceanless Quinarra. The massive planet radiates a red glow like a dusty ruby in the night, its massive polar storms clearly visible from space. A great network of orbital space stations and large compliments of fleet units occupy the system in the fashion of the insectile N’orr. Massive whale-like N’orr carriers spew fighters like angry hornets from a disturbed nest. Convoys of ice-mountain transports are always inbound from the planet Tren’lak. Small spider-like robotic ships drill into the sides of the ice, guiding the ice into the Quinarra by bloated sungliders, that like beetle balloons, slowly descend to the N’orr cities below.</p>
<br>
        <p>Quinarra itself is among the most inhospitable of planets inhabited by a major civilization. Only Letnev’s Arc Prime is recognized as more desolate then Quinarra. The Letnev however live exclusively under Arc Prime’s surface, wheras the N’orr civilization is well established both on and below Quinarra’s continents. Only Quinarra’s polar regions where even the hardy N’orr cannot survive the dealy storms for extended periods of time, are largely uninhabited. Brutal electric, hail and dust storms, though not as strong as the polar storms, are frequent throughout the planet and considered normal by the N’orr.</p>
<br>        
        <p>Visitors to Quinarra will be flown directly to the immigration nexus in the capital H’Cor. If weather permits sufficient visibility, most visitors will be impressed by the massive size and explosive traffic of the city. The N’orr structures are typically oval or rounded, created from a hardened reddish material similar to the general topography of the planet. Like most major N’orr cities, H’cor features towering building constructs, sprawling low story buildings and sudden deep gorges into the earth that reveal city-nests deep below the surface, delving into the red earth. Busy roads and hover-lanes cross the city in a thousand ways, often congested with N’orr traffic.</p>
<br>        
        <p>The N’orr will tell you that they are ruled by the “Sardakk the Queen Mother,” but thatacknowledgement seems more steeped in ritual then fact. None have ever met the mythical “mother” and no off-world documentation exists suggesting there is any truth to the notion. The accepted and visible head of the N’orr stat is the Envoy of the Queen, a male N’orr in direct command of the cultural, economic and military matters of the race. The length of the Envoy’s tenure and the process of his election seems to be decided by a secret brotherhood, the “Veiled Brood,” in which lies the real power of the N’orr.</p>
<br>        
        <p>The Envoy and the Veiled Brood oversee the rapid expansion of the N’orr military forces and fleets. The Tekklar Elite soldiers are the pride of their people. The Tekklar train exclusively in the southern polar regions, where the weak die and the strong become G’hom: members of the prestigious Tekklar order, treated like knights by the N’orr and feared across the galaxy. As Quinarra slowly turns, as the starts again come into their right constellations, the Veiled brood knows that the time to swarm is coming again. This time, the swarm will cover the stars.</p>

</div>


