<div class="col-sm-8" id="factions">
    <div class="container">
        <h1>{{faction[0].faction}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{faction[0].image}}" alt="Arborec Image" width="350" height="400">
            </div>
            <div class="col-sm-6">
                <h5 class="h5_Header">Government Type</h5>
                <ul>
                    <li>{{faction[0].government}}</li>
                </ul>

                <h5 class="h5_Header">Promissory Note</h5>
                <ul>
                    <li><span>Military Support: </span>{{faction[0].promissory_note}}</li>
                </ul>

                <h5 class="h5_Header">Faction Abilities</h5>
                <ul>
                    <li><span>Orbital Drop: </span>{{faction[0].abilities.Orbital_Drop}}</li>
                    <li><span>Versatile: </span>{{faction[0].abilities.Versatile}}</li>
                </ul>

            </div>
        </div>


    </div>
    <hr style="color: white;">
    <div>
        <h5 class="h5_Header">Flagship: {{faction[0].flagship.name}}</h5>
        <ul>
            <li><span>Cost:</span> {{faction[0].flagship.cost}}</li>
            <li><span>Combat Roll:</span> {{faction[0].flagship.combat}}</li>
            <li><span>Move:</span> {{faction[0].flagship.move}}</li>
            <li><span>Capacity:</span> {{faction[0].flagship.capacity}}</li>
            <li><span>Abilities:</span> {{faction[0].flagship.abilities}}</li>
            
        </ul>
    </div>
    
    <h5 class="h5_Header">Lore</h5>
    <p>Nestled in the third orbit of the Sol system lies Jord, the ancestral home of the human race. Few planets can rival Jord’s diversity of climates, seasons and ecology. Much of this wealth is attributed to its enormous moon, which causes dramatic tidal motions in Jor’s oceans, which is thought to be the impetus of its diverse life and weather patterns. Much of Jord’s orbit, as well as its moon, is crowded with stellar traffic from the orbital and lunar space stations. Military ships of the line, bearing the distinctive Sol symbol are often moored to the bulky military platforms in Jord’s orbit, or to the fleetbase Churchill Prima that orbits the reddish fourth planet of the system.</p>

    <br>

        <p>The humans themselves represent the most numerous and most diverse species of the galaxy. Since the discovery of the mass-drive, humans have left Jord to explore and they continue to explore the distant corners of space. Humans can be found in all corners of the galaxy and seem to demonstrate the greatest variation in intellect and application of skills. Human colonies and settlements can be found everywhere as can human servants, traders, cartographers, explorers, mercenaries, scholars, construction crews, smugglers, scientists, diplomats, ect. It is commonly recognized among galactic historians that it has been the diversified skills of the human race that has been the determining factor in it avoiding annihilation or extinction.</p>
    <br>
        <p>Of the untold billions of humans that dwell across the galaxy, all of whose ancestors once migrated from the Sol system, most feel no allegiance or kinship to the Sol Federation or the humans of Jord. Some feel a traditional friendship, while a few remain loyal to Sol and its policies. Being the last civilization to be admitted into the imperial council, it is ironic that Sol was the first to openly declare war against the failing empire. It was a Sol fleet that fired the first shot at the Letnev blockade of the Quann wormhole, escalating the minor conflict into the full scale galactic war known as the Twilight Wars.</p>
    <br>
        <p>The Sol Federation of Nations is governed by the bi-annually elected High Minister who has the executive control of the economy, budget and Sol Military. The executive powers of the High Minister are held in check by three distinct governing houses: The House of Law, The House of the People and The House of Industry. The four governing bodies of the Federation are all centrally located in the massive metropolis of New Moscow, a bustling center of politics, trade and high culture.</p>
    <br>
        <p>The current High Minister, Juan Salvador Tao, is preparing for a new age that he knows is rapidly evolving before him. He is eager to expand the official colonization of Sol once more, especially to the old colonies of Centauri, Gral and Quann. He knows that the balance of power is shifting and that the universe will soon once again be governed under one empire. The High Minister will make sure that his Federation will prevail during the coming power struggle and inevitable war. Already the Sol fleet awaits his command to strike nearby systems. Soon the human destiny will be fulfilled and the distant suns theirs to command.</p>
    
</div>

